@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  border: #82B3D3 solid 1px;
}

.logo-Sedona {
  display: block;
  margin-left: 70px;
  margin-right: 44px;
  margin-top: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  margin-top: 20px;
  margin-left: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-link:first-child {
  margin-left: 44px;
}

.navigation-link-here {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  margin-top: 14px;
  margin-right: 70px;
  padding: 8px 34px 8px 34px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  border: #82B3D3 solid 1px;
}

.welcome {
  background-image: url(../images/main/index-background.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 485px;
  margin: 0;
  padding: 0;
}

.sedona-img {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.gorgeous-img {
  display: block;
  margin: 0 auto;
  margin-top: 11px;
}

.description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 282px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 69px;
  margin-left: 290px;
  margin-right: 290px;
}

.description-list {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin-top: 25px;
  margin-left: 275px;
  margin-right: 275px;
  margin-bottom: 90px;
}

.advantages-city {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
}

.advantages-city-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-city-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 92px;
}

.advantages-city-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 62px;
}

.advantages-benefit {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-benefit-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  list-style-type: none;
}

.advantages-benefit-item {
width: 400px;
}

.advantages-benefit-item-another {
  width: 400px;
}

.advantages-benefit-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 103px;
  margin-right: 112px;
  margin-left: 112px;
}

.advantages-benefit-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 62px;
  margin-bottom: 121px;
  margin-right: 85px;
  margin-left: 85px;
}

.advantages-benefit-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-devils-bridge {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
}

.advantages-devils-bridge-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-devils-bridge-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 92px;
}

.advantages-devils-bridge-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 62px;
}

.advantages-privilege {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.home-img {
  margin-top: 80px;
  margin-left: 163px;
  margin-right: 163px;
}

.food-img {
  margin-top: 80px;
  margin-left: 163px;
  margin-right: 163px;
}

.gift-img {
  margin-top: 80px;
  margin-left: 163px;
  margin-right: 163px;
}

.advantages-privilege-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-privilege-item {
  list-style-type: none;
  width: 400px;
}

.advantages-privilege-item-another {
  list-style-type: none;
}

.advantages-privilege-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-privilege-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 81px;
}

.advantages-privilege-item-another {
  background-color: #ffffff;
  width: 400px;
}

.bookung {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 96px;
  margin-left: 451px;
  margin-right: 451px;
}

.interested-booking {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin-top: 20px;
  margin-left: 304px;
  margin-right: 304px;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  margin: 412px 96px 412px 96px;
}

.subscribe {
  background-image: url(../images/main/background-subscribe.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 1200px auto;
  background-repeat: no-repeat;
}

.subscribe-mailing-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 96px;
  margin-left: 398px;
  margin-right: 398px;
}

.subscribe-information-main {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 362px;
  margin-right: 362px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#ffffff;
  background-color: #82B3D3;
}

.subscribe-form {
  margin-top: 54px;
  margin-bottom: 104px;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.number-icon {
  margin-left: 250px;
  margin-bottom: 35px;
}

.HTML-Academy-logo-icon {
  margin-left: 235px;
}

.catalog-hotels-container {
  background-image: url(../images/catalog/background-header.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin-top: 35px;
  margin-left: 70px;
  padding: 10px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link-main {
  margin-left: 70px;
  margin-right: 11px;
  margin-top: 11px;
}

.breadcrumbs-link-hotels {
  margin-left: 11px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.display-order {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.catalog-hotels-lower {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.search-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-top: 56px;
  margin-left: 70px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.sorting-container {
  display: flex;
  margin-bottom: 30px;
  padding: 16px;

}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 16px;
  border: #82B3D3 solid 1px;
}

.hotel-card-description {
  display: grid;
  grid-template-columns: 160px 160px;
}

.stars {
  display: flex;
  justify-content: flex-start;
}

.star-icon {
  margin-left: 6px;
  margin-top: 26px;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin-bottom: 16px;
}

.hotel-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-bottom: 16px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #333333;
  margin-bottom: 16px;
}

.hotel-card-button-detail {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 8px;
}

.hotel-card-button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px;
}

.hotel-card-button-in-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 8px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin-top: 16px;
  padding: 8px;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination-list {
  display: flex;
  justify-content: left;
  list-style-type: none;
}

.pagination-item {
  margin: 8px;
}

.subscribe-mailing-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}

.subscribe-information-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
