@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width: 450px;
  margin-left: auto;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.sedona-img {
  display: block;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.gorgeous-img {
  display: block;
  margin: 0 auto;
}

.description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link-main {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-link-sedona {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-link-hotels {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.button-here {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
}

.main-index {
  background-image: url(../images/main/index-background.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description {
  background-color: #ffffff;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-list {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-city {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-city-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-city-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-city-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-benefit {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-benefit-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-benefit-item {
width: 400px;
}

.advantages-benefit-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-benefit-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-benefit-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-devils-bridge {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-devils-bridge-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-devils-bridge-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-devils-bridge-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-privilege {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-privilege-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-privilege-item {
  width: 400px;
}

.advantages-privilege-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-privilege-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-privilege-item-another {
  background-color: #ffffff;
}

.bookung {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-booking {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.subscribe {
  background-image: url(../images/main/background-subscribe.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-mailing-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-information-main {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#ffffff;
  background-color: #82B3D3;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.inner-header {
  background-image: url(../images/catalog/background-header.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-align: left;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  text-align: left;
}

.catalog-filter-group {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #000000;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background-color: #000000;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.hotel-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.hotel-card-button-detail {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.hotel-card-button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-card-button-in-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.subscribe-mailing-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.subscribe-information-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
