@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.button-here {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
}

.main-index {
  background-image: url(images/main/index-background.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-list {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.advantages-city {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-city-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-city-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-benefit {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-benefit-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-benefit-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-benefit-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-devils-bridge {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-devils-bridge-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-devils-bridge-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-privilege {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-privilege-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-privilege-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-privilege-item-another {
  background-color: #ffffff;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-booking {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.subscribe {
  background-image: url(images/main/background-subscribe.jpg);
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-mailing {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-information {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#ffffff;
  background-color: #82B3D3;
}
